/*
    Copyright © 2015 Stanley Security Solutions Limited.

    This file is part of PACBook.

    PACBook is free software: you can redistribute it and/or modify it under the
    terms of the GNU Lesser General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option)
    any later version.

    PACBook is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
    more details.

    You should have received a copy of the GNU Lesser General Public License
    along with PACBook.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Cascading Style Sheet for XSL-FO */
/* $Revision$ | $DateTime$ | $Author$ */

@namespace fo url(http://www.w3.org/1999/XSL/Format);

fo|root,
fo|page-sequence,
fo|static-content,
fo|block{
	display: block;
}
fo|declarations,
fo|bookmark-tree,
fo|static-content{
	display: none;
}
fo|inline,
fo|character{
	display: inline;
}

/* Character Attributes */
*[font-weight='bold']{
	font-weight: bold;
}
*[text-decoration='underline']{
	text-decoration: underline;
}
*[font-style="italic"]{
	font-style: italic;
}

/* Colours */
*[color='darkred']{
	color: darkred;
}
*[color='blue']{
	color: blue;
}

/* Fonts */
*[font-family~='sans-serif']{
	font-family: Helvetica, Arial, sans-serif;
}
*[font-family~='monospace']{
	font-family: Courier, Courier New, monospace;
}
*[font-family='Symbol']{
	font-family: Symbol;
}
*[font-size='10pt']{
	font-size: 10pt;
}
*[font-size='12pt']{
	font-size: 12pt;
}
*[font-size='14pt']{
	font-size: 14pt;
}
*[font-size='16pt']{
	font-size: 16pt;
}
*[font-size='18pt']{
	font-size: 18pt;
}
fo|character:after{
	content: attr(character);
}
